# Common
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.idea/

# RSpec failure tracking
.rspec_status

# Ignore IDE files
/.idea
*.iml

# Ignore gem files
*.gem

# Ignore mac files
*.DS_Store

