# Common
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.idea/

# RSpec failure tracking
.rspec_status

# Ignore IDE files
/.idea
*.iml
.vscode/settings.json

# Ignore gem files
*.gem

# Ignore mac files
*.DS_Store

sorbet/cache
!sorbet/cache/.keep

